@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom gradient */
.gradient-border-text {
  @apply rounded-full bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-400 via-fuchsia-400 to-purple-400 border border-fuchsia-400/70;
}
